#!/usr/bin/make -f

buildversion := $(shell sed -e '1!d;s/.*(//;s/).*//' debian/changelog)
upversion := $(shell echo "$(buildversion)" | sed -e 's/-.*//')

MARIADB_CONNECTOR_C := mariadb-connector-c-$(upversion)-src.tar.gz
MARIADB_CONNECTOR_C_MD5 := 81c85d8fc696ee65046c0d29b67201be
MARIADB_CONNECTOR_C_URL := https://downloads.mariadb.com/Connectors/c/connector-c-$(upversion)/$(MARIADB_CONNECTOR_C)

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --with autoreconf

vendor/$(MARIADB_CONNECTOR_C):
	mkdir -p vendor/
	if wget -O vendor/$(MARIADB_CONNECTOR_C) "$(MARIADB_CONNECTOR_C_URL)"; then \
		ret=$$(md5sum vendor/$(MARIADB_CONNECTOR_C)); \
		if ! test $${ret% *} = $(MARIADB_CONNECTOR_C_MD5); then \
			echo "MD5 mismatch: $${ret% *} <> $(MARIADB_CONNECTOR_C_MD5)" >&2; \
			$(RM) vendor/$(MARIADB_CONNECTOR_C); \
			false; \
		fi; \
	fi

vendor/mariadb-connector-c: vendor/$(MARIADB_CONNECTOR_C)
	mkdir -p vendor/mariadb-connector-c
	if ! tar --strip-components=1 -C vendor/mariadb-connector-c -zxf vendor/$(MARIADB_CONNECTOR_C); then \
		$(RM) -r vendor/mariadb-connector-c; \
		false; \
	fi

.PHONY: mariadb-connector-c
mariadb-connector-c: vendor/mariadb-connector-c
	# Let the connector-odbc trigger the compilation. Should
	# hopefully pass all our harden flags along as well.
	#cd vendor/mariadb-connector-c/cmake && cmake ..
	#cd vendor/mariadb-connector-c/cmake && make
	#cp -a vendor/mariadb-connector-c/cmake/include/mariadb_version.h vendor/mariadb-connector-c/include/

libmariadb: mariadb-connector-c
	# Since 3.0.4/3.0.5/3.0.6 connector-odbc expects connector-c to
	# be in the libmariadb subdir. Previously the paths were passed
	# with MARIADB_* vars.
	ln -s vendor/mariadb-connector-c libmariadb

override_dh_auto_configure: libmariadb
	dh_auto_configure

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/tmp
	mv $(CURDIR)/debian/tmp/usr/share/doc/mariadb_connector_odbc $(CURDIR)/debian/tmp/usr/share/doc/libmaodbc
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/odbc
	mv $(CURDIR)/debian/tmp/usr/lib/libmaodbc.so $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/odbc/
	ln -s libmaodbc.so $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/odbc/libmyodbc.so

override_dh_shlibdeps:
	dh_shlibdeps -- -v
